@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
	overflow-x: hidden;
    width: 100%;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.fa-1x {
            flex:1 !important;
            text-align: right;
        }